<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <title>Admin</title>
</head>
<body>

    <div id="menu" class="menu">
        <p data-target="#historic">Historic</p>
        <p data-target="#form">Products</p>
        <p data-target="#list">List</p>
        <p data-target=""></p>
    </div>

    <div id="content" class="content">
        <div class="form-product" data-content id="form">
            <h1 class="title-product">Input the product</h1>
            <form class="add-product" id="add-product">
                <input type="text" class="inp" id="name" placeholder="Name">
                <input type="text" class="inp" id="description" placeholder="Description">
                <input type="text" class="inp" id="brand" placeholder="Brand">
                <input type="number" class="inp" id="stock" placeholder="Stock">
                <input type="number" class="inp" id="solidUnits" placeholder="Solid Units">
                <input type="text" class="inp" id="price" placeholder="Price">
                <input type="text" class="inp" id="genre" placeholder="Genre">
                <input type="url" class="inp" id="image" placeholder="Image">
                <input type="submit" class="add" value="Add Product">
            </form>
        </div>
        <div class="historic" data-content id="historic">
            <h1 class="title-product">Historic</h1>
            <hr>
        </div>
        <div class="list" data-content id="list">
            <h1 class="title-product">List of products</h1>
            <hr>
        </div>
        <div class="active" data-content id="welcome">
            <h1 class="title-product">Welcome Admin arrecho</h1>
        </div>
    </div>
    
    <script src="../scripts/addProduct.js" type="module"></script>
    <script src="../scripts/adminHistoric.js" type="module"></script>
    <script src="../scripts/adminList.js" type="module"></script>
    <script src="../scripts/adminPage.js" defer></script>
</body>
</html>