<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/images/1-04_icon-icons.com_69203.png">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/gameview.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Oxygen:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Nunito:wght@300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Nunito:wght@300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>GameOverview</title>
  </head>
  <body>
    <header>
      <a href="./main_page.html"><h2>LocomBia Gaming</h2></a>
      <button onclick="location.href='./cart.html'"><img src="../assets/images/Vector.svg" alt="carrito"></button>
    </header>
    <section id="container"></section>
    <script src="../scripts/gameviewscript.js" type="module"></script>
  </body>
</html>
