<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="/public/assets/css/login.css">
    <link rel="stylesheet" href="/public/assets/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login_container">
        <form class="form_login">
            <h2 class="login_title">Login</h2>
            <input class="user-name_input" type="text" placeholder="Username" required/>
            <input class="password_input" type="password" placeholder="Password" required>
            <p><a href="#" class="link_label">Forgot password?</a></p>
            <button class="btn_login" type="submit">Sing in</button>
            <p class="advice_label">New to LoComBia? <a href="#" class="link_label">Create an account</a></p>
        </form>
    </div>
</body>
</html>