<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript"> emailjs.init('qKZ76P0MJTz18DK0e')</script>
    <link rel="stylesheet" href="../assets/css/footer.css">
    <title>Document</title>
</head>
<body>
  <header></header>
  <main>
    <section></section>
    <section></section>
    <section></section>
  </main>
  <footer class="footer">
      <h2 class="box">Contact</h2>
      <form class="form_footer" id="form_footer">
          <input class="input_contact_form" type="text" name="from_name" id="from_name" placeholder="Use Name">
          <input class="input_contact_form" type="email" name="email_id" id="email_id" placeholder="User Email">
          <input class="input_message"type="text" name="message" id="message" placeholder="Message">
          <input class="send_button" type="submit" id="button_footer" value="Send">
      </form>
      <div class="social">
        <a title="facebook" href="https://www.facebook.com" target="_blank" rel="noopener" class="fa fa-facebook"></a>
        <a title="instagram" href="https://www.instagram.com" target="_blank" rel="noopener" class="fa fa-instagram"></a>
        <a title="twitter" href="https://www.twitter.com" target="_blank" rel="noopener" class="fa fa-twitter"></a>
        <a title="youtube " href="https://www.youtube.com" target="_blank" rel="noopener" class="fa fa-youtube"></a>
      </div>
    <script src="../scripts/sendEmail.js"></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  </footer>
</body>
</html>