<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/register.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
    <title>form_register</title>

</head>
<body>
    <div class="register_container">
        <h2 class="titleRegister">Register</h2>
        <form id="registerForm" class="form_register">
            <input class="name inputInfoUser" type="text" name="name" id="name" placeholder="Full name">
            <input class="email inputInfoUser" type="email" name="email" id="email" placeholder="Email address">
            <input class="password inputInfoUser" type="password" name="password" id="password" placeholder="Password">
            <input class="confirmPassword inputInfoUser" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
            <div class="checkContainer">
                <input class="checkboxTerms" type="checkbox" name="checkboxTerms" id="checkboxTerms">
                <label class="checkboxTermsLabel" for="checkboxTerms"><p class="agreement">I agree with <a href="#">Terms and conditions</a></p></label>
            </div>
            <input type="submit" value="Create account">
            <p class="loginText">Do you already have an account? <a class="loginLink" href="#">Login</a></p>
        </form>
    </div>
</body>
</html>