<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/allproducts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Oxygen:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Nunito:wght@300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Nunito:wght@300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet" />
    <title>Role games</title>
</head>

<body>
    <header>
        <article>
            <a href="./main_page.html"><img class="icon_Hmenu" src="../assets/images/Arrorw.svg" alt="" /></a>
            <h1>Role</h1>
        </article>
        <button onclick="location.href='./cart.html'">
            <img src="../assets/images/Vector.svg" alt="carrito" />
        </button>
    </header>

    <div id="product-grid" class="product-grid"></div>
    <div id="pagination" class="pagination"></div>

    <script src="../scripts/role.js" type="module"></script>
</body>
</html>