<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/shoppingHistory.css">
    <link rel="stylesheet" href="../assets/css/asideUser-configuration.css">
    <title>shopping history</title>

</head>
<body>
    <header>
        <div class="user-container">
            <img src="../assets/images/user-icon.png" alt="user-img" id="user-profile-img">
            <p id="usernameContainer"></p>
        </div>

        <h2 class="section-title">Shopping History</h3>
        
    </header>
    <section class="leftside">
        <h2>User Configuration</h2>
        <h4>Update</h4>
        <form class="form-update" id="form-update">
            <input class="name inputInfoUser " type="text" name="user" id="username" placeholder="User name">
            <input class="email inputInfoUser" type="email" name="email" id="email" placeholder="Email address">
            <input class="password inputInfoUser" type="password" name="password" id="password" required placeholder="Password">
            <input class="update-user" type="submit" value="Update User">
        </form>
        <h4>Profile Image</h4>
        <form>
            <label for="image">Upload Image:</label>
            <input type="file" id="image">
            <input type="submit" value="Upload">
        </form>
        <h4>Delete Account</h4>
        <input class="delete-user" id="deleteUserButton" type="submit" value="Delete User">
    </section>
    <section class="history-container" id="historyContainer">
       
        
    </section>

    <script type="module" src="../scripts/historySection.js"></script>
    <script src="../scripts/showUsername.js"></script>
    <script src="../scripts/deleteUser.js" type="module"></script>
    <script src="../scripts/updateUser.js" type="module"></script>
</body>
</html>