input {
  display: initial !important;
}


.leftside {
    width: 45%;
    height: 41pc;
    float: left;
    background-color: aqua;
    padding: 5px 0px;
    margin: 10px 10px;
    background: rgba(118, 80, 133, 0.57);
}

.form-update{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  margin-top: 30%;
  padding: 5px 0px;
  margin: 10px 10px;
}

.inputInfoUser{
  height: 30px;
  width: 500px;
  background-color: transparent;
  border-width: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 29px;
  color: #FFFCFC;
}

.inputInfoUser::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 29px;
  color: #FFFCFC;
}

.inputInfoUser:focus{
  outline: none;
}

.update-user{
  background: #095458;
  border-radius: 8px;
  height: 45px;
  font-family: 'Inter';
  font-style: normal;
  font-size: var(--font-size);
  font-weight: 500;
  background-color:#095458;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}


input {
  display: initial !important;
}

h4{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 39px;
  color: #FFFFFF;
  padding-left: 20px;

}

h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 39px;
  color: #FFFFFF;
  padding-left: 10px;

  padding-bottom: 30px;
}