*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    background: #210041;
}
.container{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px A#ff2d75;
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

:root{
    --font-size:18px;
}

.register_container{
    position: absolute;
    display: flex;
    right: 0;
    height: 100vh;
    width: 50%;
    background: rgba(118, 80, 133, 0.57);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    opacity: 0.8;
}

.titleRegister{
    position: absolute;
    text-align: center;
    margin-top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}

.form_register{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    margin-top: 30%;
}

.inputInfoUser{
    height: 30px;
    width: 500px;
    background-color: transparent;
    border-width: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 29px;
    color: #FFFCFC;
}

.inputInfoUser::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 29px;
    color: #FFFCFC;
}

.inputInfoUser:focus{
    outline: none;
}

.checkContainer{
    display: flex;
    align-items: center;
}

.checkboxTerms{
    width: 24px;
    height: 24px;
}

.agreement{
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 29px;
    color: #FFFCFC;
}

.agreement a{
    text-decoration: none;
}

.createAccountButton{
    background: #095458;
    border-radius: 8px;
    height: 45px;

    font-family: 'Inter';
    font-style: normal;
    font-size: var(--font-size);
    font-weight: 500;
    background-color:#095458;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.loginText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;

    /*backdrop-filter: blur(2px);*/
}

.loginLink{
    color: #ED63F2;
}

/* No sé para qué sirve esto xd
.btn_login:hover{
    transform: scale(1.1);

}

.btn_login:focus{

    background-color: #108a90
}